extends layout

block content
    form(action="login" method="POST")
        div(id = "loginwraper" )
            div(id = "logincontainer")
                | 아이디 
                &nbsp &nbsp &nbsp
                input(type='text', name="id", placeholder="ID") 
                br
                br
                | 비밀번호    
                &nbsp
                input(type='password', name="pwd", placeholder="Password") 
            br
            br
            br
            a(href = "#{urls}")
                input(type='submit', value="로그인", id="loginBtn")
        
