extends layout

block content
    h1= title
    -for(var i = 0 ; i < categories.length ; i++) {
        
        -if (i % 7 == 0) {
            br
        -}
        
        input(type='checkbox', name="category", value='#{categories[i].small_category}')
        |#{categories[i].small_category}
        &nbsp
        
    -}
    
    p
        input(type='submit', id="saveBtn", value="수정")
  
      
